/* ******************************************************************** */
/* FONTS */
/* ******************************************************************** */

@font-face {
    font-family: 'BebasRegular';
    src: url('../fonts/BEBAS___-webfont.eot');
    src: url('../fonts/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BEBAS___-webfont.woff') format('woff'),
         url('../fonts/BEBAS___-webfont.ttf') format('truetype'),
         url('../fonts/BEBAS___-webfont.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
h1, h2, .bebas, .nav-text {font-family:'BebasRegular';word-spacing:0.2em;}

@font-face {
    font-family: 'spreediaregular';
    src: url('../fonts/spreediafont-v1.7-webfont.eot');
    src: url('../fonts/spreediafont-v1.7-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/spreediafont-v1.7-webfont.woff') format('woff'),
         url('../fonts/spreediafont-v1.7-webfont.ttf') format('truetype'),
         url('../fonts/spreediafont-v1.7-webfont.svg#spreediaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.spreediaregular, .icon, .symbol {font-family:'spreediaregular';font-size:2em;}

/* ******************************************************************** */
/* GENERAL -- ALL SIZES */
/* ******************************************************************** */

body, html {height:100%;}
body.list {background-color:#fcfcfc;}
h1 {color:black;}
h2 {padding:0 0 10px;}
h3 {font-family:Arial;font-size:0.8em;padding:4px 0 6px;}
p {margin-bottom:3px;}
a {text-decoration:none;color:#69a128;} a:hover {color: #488720;}

#hb_top {
    width:100%;
    position:fixed;
    z-index:98;
    background:white url('/images/bgnoise.png');
    border-bottom:1px solid #e6e6e6;
    text-shadow:#fff 1px 1px 0.1em;
}

.offset #hb_top {
    -moz-box-shadow: 0 30px 30px 5px #fff;
    -webkit-box-shadow: 0 30px 30px 5px #fff;
    box-shadow: 0 30px 30px 5px #fff;
}

/* nav {z-index:99;} */
nav {width:100%;position:fixed;}
nav li {list-style-type:none;}

#format {list-style-type:none;}

button.icon, button.price {background-color:#eee;margin:0;padding:2px 0 0;width:52px;cursor:pointer;text-shadow:#fff 1px 1px 0.1em;border-width:1px;}
button.icon.over, button.price.over {background-color:#ddd;}
button.icon.clicked, button.price.clicked {background-color:#69a128;color:#fff;text-shadow:#000 1px 1px 0;}

button.price {padding-bottom:3px;font-family:BebasRegular;}

#sortbypanel {background:#eee;text-align:center;padding:10px;border:1px solid #ccc;font-family:BebasRegular;word-spacing:0.3em;font-size:0.7em;}
#sortbypanel select {word-spacing:0;}
#sortbypanel #sortby {margin:0 auto;font-family:Arial;}

/* PRICE RANGE SLIDER */
#pricerangepanel {background:#eee;text-align:center;padding:10px;border:1px solid #ccc;margin:4px 0;}
#pricerangepanel .ui-widget-header {background:#69a128;}
#pricerangepanel .ui-state-default {background:#fff;border-color:#000;cursor:pointer;}
#pricerangepanel #amount {font-family:BebasRegular;margin-bottom:8px;}
#pricerangepanel #slider-pricerange {width:80%;margin:10px auto 0;}
#pricerangepanel #steps {margin:0 auto;border:1px solid transparent;width:80%;position:relative;height:30px;}
#pricerangepanel .tick {border:1px solid transparent;position:absolute;width:1.2em;margin-left:-.6em;text-align:center;left:0;}
#pricerangepanel .tick .pricemarker {font-family:BebasRegular;font-size:0.6em;}

.store {display:none;}
.store.pricematch {display:block;}

#nomatches {display:none;border:1px solid black;border-radius:10px;background:#eee;padding:10px;}

.icons-selected .store .icon {color:#ddd;}
.icons-selected .store .icon.matching {color:#69a128;}
.icons-selected .store {display:none;}
.icons-selected .store.matching.pricematch {display:block;}

.store {border:1px solid black;background-color:white;overflow:auto;}
.store div.storethumb {width:20%;}
.store div.storethumb img.thumb {width:100%;border-radius:5px;}
.store div.storeinfo {width:77%;}
.store .matchtext {color:#69a128;font-family:BebasRegular;word-spacing:0.3em;position:relative;left:5px;bottom:9px;}

#content {width:100%;}

.list #wrapper {overflow:auto;}

.map #wrapper {position:fixed;padding:0;width:100%;height:100%;}
.map #map_canvas {width:100%;height:100%;}
.map #sortbypanel {display:none;}
.map #pricerangepanel {margin-top:0;}

.storeinstance {border:1px solid #ddd;background:#eee;padding:5px;margin-top:6px;border-radius:4px;}
.pricerange {display:inline-block;border-right:1px solid #e6e6e6;position:relative;bottom:4px;font-size:1.4em;color:#bbb;font-family:BebasRegular;padding-right:6px;} /* d82 */

.tabs.vertical dd, .tabs.vertical li { border-left: 3px solid #cccccc; }
.tabs.vertical dd a, .tabs.vertical li a { background: #f2f2f2; border: none; border: 1px solid #e6e6e6; border-width: 1px 1px 0 0; color: #555; display: block; font-size: 14px; height: auto; line-height: 1; padding: 15px 20px; -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; }
.tabs.vertical dd.active, .tabs.vertical li.active { margin-top: 0; border-top: 1px solid #bbb; border-left: 4px solid #69a128; }
.tabs.vertical dd.active a, .tabs.vertical li.active a { background: #fff; border: none; color: #000; height: auto; margin: 0; position: static; top: 0; -webkit-box-shadow: 0 0 0; -moz-box-shadow: 0 0 0; box-shadow: 0 0 0; }
.tabs.vertical dd:first-child a.active, .tabs.vertical li:first-child a.active { margin: 0; }

/* ******************************************************************** */
/* CLASSES */
/* ******************************************************************** */

.green {color:#69a128;}
.gray, .grey {color:#aaa;}
.white {color:#fff;}
.black {color:#000;}

.alignright {text-align:right;}
.alignleft {text-align:left;}
.aligncenter {text-align:center;}

.right {float:right;display:block;}
.left {float:left;display:block;}
.center {margin-left:auto;margin-right:auto;}

.hover {cursor:pointer;}
.gray-to-black, .gray-to-red {color:#ddd;}
.dark-gray-to-black {color:#aaa;}
.gray-to-black.over {color:black;}
.gray-to-red.over {color:#c43;}

.nav-icons li.over {color:#666;}
.nav-icons li.active {color:#c19928;}

/* ******************************************************************** */
/* 'SMALL' or 'VERYSMALL' */
/* ******************************************************************** */

    #logo {font-size:28px;padding:10px 0 0 12px;}
    h1 {font-size:20px;padding:10px 12px;}
    #hb_top, .top-height {height:40px;}
    #hb_top li.symbol ul li {padding:7px 8px 2px;border-left:1px solid #e6e6e6;}
    #hb_top li.symbol ul li.format-search {padding-right:6px;}

    div.store {padding:12px;margin-bottom:8px;}
    div.store p.graphical {font-size:0.8em;}

    .list #wrapper {padding:54px 12px;}
    .list #wrapper #panel {width:100%;display:none;}

    .map #wrapper #panel {width:200px;display:none;position:fixed;width:108px;top:62px;right:20px;}

    .fixed-for-big {position:relative;z-index:99;}
    .expandable-for-verysmall p {display:none;}
    .scale-text {font-size:0.8em;}
    .hide-for-small {display:none!important;}
    .hide-for-small-if-inactive {display:none!important;}
    .hide-for-small-if-inactive.active {display:block!important;}

    .show-for-verybig {display:none!important;}

    .nav-text {padding:12px 14px;}

@media all and (min-height: 470px) {

    .map #wrapper #panel {display:block;}

}

@media all and (min-width: 500px) {

    /* ******************************************************************** */
    /* 'SMALL' but not 'VERYSMALL' */
    /* ******************************************************************** */

    .expandable-for-verysmall p {display:block;}
    .scale-text {font-size:0.9em;}
    .pricerange {bottom:5px;}
    div.store {padding:15px;}
    div.store p.graphical {font-size:0.9em;}
}

@media all and (min-width: 628px) {
    .scale-text {font-size:1em;}
    .pricerange {bottom:6px;}
}
  
@media all and (min-width: 868px) { /* was 768 */

    /* ******************************************************************** */
    /* 'BIG' SIZE */
    /* ******************************************************************** */

    #logo {font-size:32px;padding:18px 0 0 20px;}
    h1 {font-size:30px;padding:15px 20px;}

    #hb_top, .top-height {height:60px;}
    /* #hb_top ul li ul li.symbol {padding:10px 12px 2px;} */
    #hb_top li.symbol ul li.format-search {padding-right:8px;}

    .list #wrapper {padding:80px 20px;width:828px;}
    .list #wrapper #panel {display:block;width:108px;}
    #content {width:85%;}

    .map #wrapper #panel {top:82px;}

    div.store {margin-bottom:12px;}
    div.store p.graphical {font-size:1em;}

    .nav-text {padding:22px 20px 22px 0;}
    .nav-icons {padding:10px 20px 9px 0;}

    .hide-for-small {display:inline-block!important;}
    .hide-for-small-if-inactive {display:block!important;}
    .fixed-for-big {position:fixed!important;}

}

@media all and (min-width: 1000px) { /* was 952 */

    /* ******************************************************************** */
    /* 'VERYBIG' SIZE */
    /* ******************************************************************** */

    .list #wrapper {width:960px;}
    .list #wrapper #panel {width:220px;}
    #content {width:75%;}

    .show-for-verybig {display:inline;}

}