<!--<button id='bigredbutton'>CLICK ME!</button>-->

<div id='sortlabel' class='panellabel'>
	<label>Sort By</label>
</div>

<div id='sortbypanel' class='subpanel'>
	<!-- Sort by: &nbsp;-->
	<select id='sortby'>
		<option value='default'>Default</option>
		<option value='icon'>Icon match</option>
		<!-- <option value='favorites'>Favorites</option> TODO: remove functionality for this -->
		<!-- <option value='random'>Random</option> TODO: remove functionality for this -->
		<!-- check for enabled/disabled location in global when panel reloads, slash also just don't fucking reload panel -->
		<option value='location' disabled='disabled'>Distance</option>
		<option value='price-hi-low'>Price High</option>
		<option value='price-low-hi'>Price Low</option>
		<option value='alphabetical'>A to Z</option>
	</select>
</div>

<div class='panelspacer'></div>

<div id='filterlabel' class='panellabel'>
	<label>Filter</label>
</div>

<div id='pricerangepanel' class='subpanel'>
	<div class='dolladisplay'></div>
	<div id='slider-pricerange'></div>
	<div id='steps'>
        <span class="tick">|<br><span class='pricemarker'>$</span></span>
        <span class="tick" style="left: 33.3%;">|<br><span class='pricemarker'>$$</span></span>
        <span class="tick" style="left: 66.7%;">|<br><span class='pricemarker'>$$$</span></span>
        <span class="tick" style="left: 100%;">|<br><span class='pricemarker'>$$$$</span></span>
    </div>
</div>

<!-- TODO: convert to PHP? -->
<div id='iconspanel' class='subpanel'>
{{#each icons}}
	{{#with Icon}}
		<button data-id='{{this.id}}' title="{{this.name}}" class='icon hover click'>{{this.char}}</button>
	{{/with}}
{{/each}}
</div>