{{#with page}}

	<!-- page title -->
	<div id='logo' class='green symbol'>L</div>
	<!--<h1 class='left'>{{title}}</h1>-->

	<!-- format -->
	<ul id='format' class='left symbol'>
		<li class='hover format' data-activate='list'>i</li>
		<li class='hover format' data-activate='map'>g</li>
	</ul>

	<!-- format -->
	<ul id='datatype' class='symbol'>
		<li class='hover datatype' data-activate='favorites'>f</li>
		<li class='hover datatype' data-activate='location'>q</li>
	</ul>

	<!-- drop down symbol
	<span class='green symbol jogged-right'>q</span>
	<span class='green symbol'>i</span> -->

	<!-- navigation -->
	<!-- <nav>
		<ul class='right'>

			<li class='left hide-for-small-if-inactive nav-text active'>
				<a class='symbol hover'>q</a>
				<a href='/stores'>Find Stores</a>
			</li>
			<li class='left hide-for-small-if-inactive nav-text'>
				<a class='symbol hover'>f</a>
				<a href='/favorites'>Favorites</a>
			</li>
			<li class='left hide-for-small-if-inactive nav-text'>
				<a href='/magazine'>Magazine</a>
			</li>
			<li class='left hide-for-small-if-inactive nav-text'>
				<a href='/recs'>Personalize</a>
			</li>

		</ul>
	</nav> -->

{{/with}}